<form class="quiz-container" #quizForm="ngForm" (ngSubmit)="submitQuiz(quizForm)" *ngIf="!isFinished()">
  <div *ngFor="let q of quiz; let i = index" class="question-card">
    <h3 class="question-title">Q{{ i + 1 }}: {{ q.question }}</h3>

    <!-- Multiple Choice -->
    <div *ngIf="q.type === 'Multiple Choice'" class="options-container">
      <label *ngFor="let option of q.options" class="option-label">
        <input type="radio"
               name="question{{ i }}"
               [value]="option"
               ngModel>
        <span>{{ option }}</span>
      </label>
    </div>

    <!-- True/False -->
    <div *ngIf="q.type === 'True/False'" class="options-container">
      <label class="option-label">
        <input type="radio"
               name="question{{ i }}"
               value="True"
               ngModel>
        <span>True</span>
      </label>
      <label class="option-label">
        <input type="radio"
               name="question{{ i }}"
               value="False"
               ngModel>
        <span>False</span>
      </label>
    </div>
  </div>

  <button type="submit" class="submit-btn">Submit Quiz</button>
</form>

<!-- Result -->
<div *ngIf="isFinished()" class="quiz-container result-container">
  <div class="score-card">
    <h2>You scored {{ score() }} / {{ quiz.length }}</h2>
  </div>

  <div *ngFor="let q of quiz; let i = index" class="question-card result-card">
    <h4 class="question-title">Q{{ i + 1 }}: {{ q.question }}</h4>

    <p *ngIf="userAnswers[i] === q.answer" class="correct">
   Answer: <strong>{{ userAnswers[i] }}</strong>
    </p>

    <p *ngIf="userAnswers[i] !== q.answer" class="wrong">
      Answer: {{ userAnswers[i] || 'No answer' }}<br>
      <span style="color: green;">Correct answer: <strong>{{ q.answer }}</strong></span>
      
    </p>
  </div>

  <button (click)="restartQuiz()" class="submit-btn restart-btn">Back</button>
</div>